* {
    transition: all 0.5s ease-out;
}

.container {
    width: 720px;
    margin: 0 auto;
}
button img, img {
    width: 150px;
    height: 210px;
}

.choices button {
    border-width: 0;
    padding: 0;
}

.choices {
    display: flex;
    justify-content: space-around;
}

.title {
    text-align: center;
}

.results {
    display: flex;
    align-items: center;
    margin-top: 90px;
    flex-direction: column;
}

.new-game-button {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.new-game-button:hover {
    background-color: white;
    color: black;
    
}
.score {
    /*margin-bottom: 20px;*/
    color: red;
}
.img-result {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.vs {
    display: flex;
    align-items: center;
}

.hidden{
    visibility: hidden;
}

.text-result {
    font-size: 36px;
    color: rgb(12, 67, 185);
    margin-top: 20px;
}

